---
 - name : install nginx on node from master
   hosts : node
   become : yes

   tasks:
    - name: Update packages
      yum:
        name: "*"
        state: latest

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Start nginx
      service:
        name: nginx
        state: started
        enabled: yes

  
